.image-popup {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  /*transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;*/
  z-index: 1;
  padding-top: 10%;
  margin: auto;
  /*transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0.3s;*/
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out,
    visibility 0s linear 0.5s;
  /*transform: translateY(20px);*/
}

.image-popup_visible {
  opacity: 1;
  visibility: visible;
  /*transform: translateY(0);`
  transition: opacity 0.5s ease-in-out;*/
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out,
    visibility 0s linear 0.5s 0.5s;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .image-popup {
    width: 71%;
    top: 50%;
    left: 45.5%;
  }
}

@media screen and (max-width: 768px) {
  .image-popup {
    width: 95%;
  }
}
