.form {
  width: 60%;
  background-color: white;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 9%;
  left: 29%;
}
@media screen and (max-width: 768px) {
  .form {
    left: 20%;
  }
}
